

.navbarMain{
    
    background-color: #FF8C00;
    height: 50px;
    
}
.navbarMain2{
    
    background-color: #FFFACD;
    height: 40px;
    box-shadow: .5px .5px 5px #000;
    
}